<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>
		<div class="menu" th:replace="fragments/main-sections :: menu"></div>

		<div class="wrapper">
			<div class="main">
				<div class="page-title">
					<p th:text="#{yeast.form.title}" />
				</div>
				<div class="form">
					<form th:object="${yeast}" th:action="@{'/yeast/saveYeast'}" method="post">
						<input type="hidden" name ="id" th:field="*{id}">

						<div class="form-row">
							<div class="form-field-name">
								<label>Yeast name:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"	th:field="*{yeastName}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('yeastName')}">
									<ul>
										<li th:each="err : ${#fields.errors('yeastName')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Producer:</label>
							</div>
							<div class="form-field-input">
								<select class="form-control" th:field="*{producer.id}">
								    <option th:each="producer : ${producers}"
			                            th:value="${producer?.id}"
			                            th:text="${producer?.producerName}">
						    		</option>
							    </select>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Yeast Type:</label>
							</div>
							<div class="form-field-input">
								<select class="form-control" th:field="*{yeastType}">
									<option th:each="yeastType : ${T(com.maruszka.model.Enums.YeastType).values()}"
											th:value="${yeastType}"
											th:text="${yeastType.getDescription()}">
									</option>
								</select>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Alcohol Tolerance:</label>
							</div>
							<div class="form-field-input">
								<input type="number" class="form-control" th:field="*{alcoholTolerance}"/>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Fermentation Temp. Min:</label>
							</div>
							<div class="form-field-input">
								<input type="number" class="form-control" th:field="*{fermentationTempMin}"/>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Fermentation Temp. Max:</label>
							</div>
							<div class="form-field-input">
								<input type="number" class="form-control" th:field="*{fermentationTempMax}"/>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Flocculation:</label>
							</div>
							<div class="form-field-input">
								<select class="form-control"  th:field="*{flocculation}">
									<option th:each="flocculation : ${T(com.maruszka.model.Enums.YeastFlocculation).values()}"
											th:value="${flocculation}"
											th:text="${flocculation}">
									</option>
								</select>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-submit">
								<button class="submit-button" type="submit">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footer" th:replace="fragments/main-sections :: footer"></div>
	</div>

</body>
</html>