<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>
		<div class="menu" th:replace="fragments/main-sections :: menu"></div>

		<div class="wrapper">
			<div class="main">
				<div class="page-title">
					<p th:text="#{beerStyle.form.title}" />
				</div>
				<div class="form">
					<form th:object="${beerStyle}" th:action="@{'/beerStyle/saveBeerStyle'}" method="post">
						<input type="hidden" name ="id" th:field="*{id}">

						<div class="form-row">
							<div class="form-field-name">
								<label>Beer style:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"	th:field="*{beerStyleName}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('beerStyleName')}">
									<ul>
										<li th:each="err : ${#fields.errors('beerStyleName')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Original plato:</label>
							</div>
							<div class="form-field-input-2-in-row">
								<input type="number" step="any" class="form-control" th:field="*{originalBLG1}" th:errorclass="has-error"/> -
								<input type="number" step="any" class="form-control" th:field="*{originalBLG2}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('originalBLG1')}">
									<ul>
										<li th:each="err : ${#fields.errors('originalBLG1')}" th:text="${err}"/>
									</ul>
								</div>
								<div class="form-error" th:if="${#fields.hasErrors('originalBLG2')}">
									<ul>
										<li th:each="err : ${#fields.errors('originalBLG2')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Final plato:</label>
							</div>
							<div class="form-field-input-2-in-row">
								<input type="number" step="any" class="form-control" th:field="*{finalBLG1}" th:errorclass="has-error"/> -
								<input type="number" step="any" class="form-control" th:field="*{finalBLG2}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('finalBLG1')}">
									<ul>
										<li th:each="err : ${#fields.errors('finalBLG1')}" th:text="${err}"/>
									</ul>
								</div>
								<div class="form-error" th:if="${#fields.hasErrors('finalBLG2')}">
									<ul>
										<li th:each="err : ${#fields.errors('finalBLG2')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>European Brewery Convention:</label>
							</div>
							<div class="form-field-input-2-in-row">
								<input type="number" class="form-control" th:field="*{ebc1}" th:errorclass="has-error"/> -
								<input type="number" class="form-control" th:field="*{ebc2}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('ebc1')}">
									<ul>
										<li th:each="err : ${#fields.errors('ebc1')}" th:text="${err}"/>
									</ul>
								</div>
								<div class="form-error" th:if="${#fields.hasErrors('ebc2')}">
									<ul>
										<li th:each="err : ${#fields.errors('ebc2')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Alcohol by volume:</label>
							</div>
							<div class="form-field-input-2-in-row">
								<input type="number" step="any" class="form-control" th:field="*{abv1}" th:errorclass="has-error"/> -
								<input type="number" step="any" class="form-control" th:field="*{abv2}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('abv1')}">
									<ul>
										<li th:each="err : ${#fields.errors('abv1')}" th:text="${err}"/>
									</ul>
								</div>
								<div class="form-error" th:if="${#fields.hasErrors('abv2')}">
									<ul>
										<li th:each="err : ${#fields.errors('abv2')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Alcohol by volume:</label>
							</div>
							<div class="form-field-input-2-in-row">
								<input type="number" step="any" class="form-control" th:field="*{ibu1}" th:errorclass="has-error"/> -
								<input type="number" step="any" class="form-control" th:field="*{ibu2}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('ibu1')}">
									<ul>
										<li th:each="err : ${#fields.errors('ibu1')}" th:text="${err}"/>
									</ul>
								</div>
								<div class="form-error" th:if="${#fields.hasErrors('ibu2')}">
									<ul>
										<li th:each="err : ${#fields.errors('ibu2')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-submit">
								<button class="submit-button" type="submit">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footer" th:replace="fragments/main-sections :: footer"></div>
	</div>

</body>
</html>