<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>
		<div class="menu" th:replace="fragments/main-sections :: menu"></div>

		<div class="wrapper">
			<div class="main">
				<div class="page-title">
					<p th:text="#{hop.form.title}" />
				</div>
				<div class="form">
					<form th:object="${hop}" th:action="@{'/hop/saveHop'}" method="post">
						<input type="hidden" name ="id" th:field="*{id}">

						<div class="form-row">
							<div class="form-field-name">
								<label>Hop name:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"	th:field="*{hopName}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('hopName')}">
									<ul>
										<li th:each="err : ${#fields.errors('hopName')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Country:</label>
							</div>
							<div class="form-field-input">
								<select class="form-control" th:field="*{country.id}">
<!--							    <option value="0">Select country</option>-->
								    <option th:each="country : ${countries}"
			                            th:value="${country?.id}"
			                            th:text="${country?.countryName}">
						    		</option>
							    </select>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Alpha acid min:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"	th:field="*{alphaAcidMin}"/>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Alpha acid max:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"	th:field="*{alphaAcidMax}"/>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Bitter hop:</label>
							</div>
							<div class="form-field-input">
								<select class="form-control"  th:field="*{bitterHop}">
									<option th:value="'true'" th:text="Yes"></option>
									<option th:value="'false'" th:text="No"></option>
								</select>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Aroma hop:</label>
							</div>
							<div class="form-field-input">
								<select class="form-control"  th:field="*{aromaHop}">
									<option th:value="'true'" th:text="Yes"></option>
									<option th:value="'false'" th:text="No"></option>
								</select>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-submit">
<!--								<button class="btn btn-default" type="submit">Submit</button>-->
								<button class="submit-button" type="submit">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footer" th:replace="fragments/main-sections :: footer"></div>
	</div>

</body>
</html>