<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="#{index.page.title}">Page Title</title>

	<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
		  rel="stylesheet" media="screen"
		  th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

	<script src="../static/js/jquery-2.1.4.min.js"
			th:src="@{/js/jquery-2.1.4.min.js}"></script>

	<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

	<style th:remove="all">
	</style>

</head>
<body>
<div class="container">
	<div class="header" th:replace="fragments/main-sections :: header"></div>
	<div class="menu" th:replace="fragments/main-sections :: menu"></div>

	<div class="wrapper">
		<div class="main">
			<div class="page-title">
				<p th:text="${hop.hopName}">Malt name</p>
			</div>
			<div class="show">

				<div class="form-row">
					<div class="display-field-name">
						<label>Country:</label>
					</div>
					<div class="form-field-input">
						<p th:text="${hop.country.countryName}">Country</p>
					</div>
				</div>

				<div class="form-row">
					<div class="display-field-name">
						<label>Alpha acid min:</label>
					</div>
					<div class="form-field-input">
						<p th:text="${hop.getAlphaAcidMin()} + '%'">Alpha acid min</p>
					</div>
				</div>

				<div class="form-row">
					<div class="display-field-name">
						<label>Alpha acid max:</label>
					</div>
					<div class="form-field-input">
						<p th:text="${hop.getAlphaAcidMax()} + '%'">Alpha acid max</p>
					</div>
				</div>

				<div class="form-row">
					<div class="display-field-name">
						<label>Bitter hop:</label>
					</div>
					<div class="form-field-input">
							<span th:if="${hop.isBitterHop()}">
								<img width="30px" height="30px" th:src="@{/images/true_icon.png}">
							</span>
						<span th:if="${!hop.isBitterHop()}">
								<img width="30px" height="30px" th:src="@{/images/false_icon.png}">
							</span>
					</div>
				</div>

				<div class="form-row">
					<div class="display-field-name">
						<label>Aroma hop:</label>
					</div>
					<div class="form-field-input">
							<span th:if="${hop.isAromaHop()}">
								<img th:src="@{/images/true_icon.png}">
							</span>
						<span th:if="${!hop.isAromaHop()}">
								<img th:src="@{/images/false_icon.png}">
							</span>
					</div>
				</div>

				<div class="bottom-nav-buttons">
					<ul>
						<li><a href="#" th:href="@{'/hop/list'}"><img th:src="@{/images/list.png}" title="list"></a></li>
						<li><a href="#" th:href="@{'/hop/' + ${hop.id} + '/edit'}"><img th:src="@{/images/update.png}" title="update"></a></li>
						<li><a href="#" th:href="@{'/hop/delete/' + ${hop.id}}"><img th:src="@{/images/delete.png}" title="delete"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" th:replace="fragments/main-sections :: footer"></div>
</div>

</body>
</html>