*::before,
*::after {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: 'Courier', monospace;
}

.wrapper {
	border-radius: 10px;
	background-color: #333333;
	color: #ffffff;
	padding: 15px;
	width: 85%;
	margin: 7px auto;
}

.header {}

.menu {}

.inner-menu {}

.main {}

.page-title {
	background-color: #757272;
	margin: 20px 35% 20px 35%;
	text-align: center;
	display: block;
	border-radius: 15px;
	font-size: 200%;
}

.footer {
	padding: 0px;
	text-align: center;
}

.footer p {
	padding: 0;
	margin: 0px;
	height: 50%;
}

ul {
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
	background-color: #333333;
	text-align: center;
}

li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

li a {
	display: block;
	border: 2px solid black;
	border-radius: 15px;
	color: white;
	text-align: center;
	padding: 15px;
	min-width: 100px;
	text-decoration: none;
}

li a:hover {
	color: white;
	background-color: #757272;
	text-decoration: none;
}

li a:focus {
	color: white;
	background-color: #757272;
	text-decoration: none;
}

table {
	margin: 0px auto;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
	/*this makes equals spacing in columns*/
	table-layout: fixed;
	border-bottom-style: ridge;
}

th {
	text-align: center;
}

td, th {
	/*this make vertical alignment for table cell*/
	vertical-align: middle !important;
}

.form {
	margin: 0% 10%;
	border: 1px solid #757272;
	padding: 0 10%;
}

.form-row {
	font-size: initial;
}

.form-field-name,
.form-field-input,
.display-field-name {
	display: inline-block;
	margin-top: 15px;
	width: 49%;
	font-size: initial;
	/*vertical-align: top;*/
}

.form-field-name {
	text-align: right;
	padding-right: 3%;
	padding-top: 5px;
}

.form-field-input {
	text-align: left;
	padding-left: 3%;
	vertical-align: top;
}

.display-field-name {
	text-align: right;
	padding-right: 3%;
	vertical-align: top;
}

.form-field-input img {
	width: 25px;
	height: 25px;
}

.form-field-submit {
	text-align: right;
}

.submit-button,
a.simple-button {
	margin: 10px 10px 10px auto;
	padding: 10px;
	color: white;
	font-size: initial;
	background-color: #333333;
	border: 2px solid #000000;
	border-radius: 10px;
	text-decoration: none;
}

a.simple-button:hover,
.submit-button:hover {
	color: white;
	background-color: #757272;
	text-decoration: none;
}

a.simple-button:focus,
.submit-button:focus {
	color: white;
	background-color: #757272;
	text-decoration: none;
}

.form-error {
	font-size: initial;
	text-align: center;
	color: #ff6767;
	border: 2px solid #757272;
	margin: 5px auto 0 auto;
}

.list-nav-buttons img {
	 margin: 0 8px 0 8px;
	 width: 30px;
	 height: 30px;
 }

.bottom-nav-buttons {
	margin: 15px 8px 15px 8px;
}

.bottom-nav-buttons img {
	width: 25px;
	height: 25px;
}



