<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>

		<div class="menu" th:replace="fragments/main-sections :: menu"></div>


		<div class="wrapper">
			<div class="main">

				<div class="page-title">
					<p th:text="#{batch.title}"/>
				</div>

				<table class="table">
					<thead class="thead">
						<tr>
							<th>Batch number</th>
							<th>Beer type</th>
							<th>Yeast</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<tr th:remove="all">
							<td>1</td>
							<td>Stout</td>
							<td>WB-06</td>
						</tr>
						<tr th:remove="all">
							<td>2</td>
							<td>Russian Imperial Stout</td>
							<td>T-58</td>
						</tr>
						<tr th:each="batch: ${batches}">
							<td th:text="${batch.batchNumber}" />
							<td th:text="${batch.beerStyle.beerStyle}" />
							<td th:text="${batch.yeast.yeastName}" />
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<div class="footer" th:replace="fragments/main-sections :: footer"></div>

	</div>

</body>
</html>