<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>

		<div class="menu" th:replace="fragments/main-sections :: menu"></div>


		<div class="wrapper">
			<div class="main">

				<div class="page-title">
					<p th:text="#{malt.title}"/>
				</div>

				<table class="table">
					<thead class="thead">
						<tr>
							<th>Malt name</th>
							<th>Malt Producer</th>
							<th>Malt Country</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<tr th:remove="all">
							<td>Strzegom jasny</td>
							<td>Strzegom</td>
							<td>Polska</td>
						</tr>
						<tr th:remove="all">
							<td>Pale Ale</td>
							<td>Malteurop</td>
							<td>Polska</td>
						</tr>
						<tr th:each="malt: ${malts}">
							<td th:text="${malt.maltName}" />
							<td th:text="${malt.producer.producerName}" />
							<td th:text="${malt.country.countryCode}" />
							<td><a href="#" th:href="@{'/malt/' + ${malt.id} + '/update'}">Update</a></td>
						</tr>
						
					</tbody>
				</table>

			</div>
		</div>

		<div class="footer" th:replace="fragments/main-sections :: footer"></div>

	</div>

</body>
</html>