<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>
		<div class="menu" th:replace="fragments/main-sections :: menu"></div>

		<div class="wrapper">
			<div class="main">
				<div class="page-title">
					<p th:text="#{additive.form.title}" />
				</div>
				<div class="form">
					<form th:object="${additive}" th:action="@{'/additive/saveAdditive'}" method="post">
						<input type="hidden" name ="id" th:field="*{id}">

						<div class="form-row">
							<div class="form-field-name">
								<label>Additive name:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"	th:field="*{name}" th:errorclass="has-error"/>
								<div class="form-error" th:if="${#fields.hasErrors('name')}">
									<ul>
										<li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-submit">
								<button class="submit-button" type="submit">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footer" th:replace="fragments/main-sections :: footer"></div>
	</div>

</body>
</html>