<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>
		<div class="menu" th:replace="fragments/main-sections :: menu"></div>

		<div class="wrapper">
			<div class="main">
				<div class="page-title">
					<p th:text="#{malt.form.title}" />
				</div>
				<div class="form">
					<form th:object="${malt}" th:action="@{'/malt/saveMalt'}" method="post">
						<input type="hidden" name ="id" th:field="*{id}">
						<div class="form-row">
							<div class="form-field-name">
								<label>Malt name:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"
									th:field="*{maltName}" th:errorclass="has-error"/>
							</div>
							<span th:if="${#fields.hasErrors('maltName')}">
								<div class="form-error">
	<!--								<span th:if="${#fields.hasErrors('maltName')}">-->
										<ul>
											<li th:each="err : ${#fields.errors('maltName')}" th:text="${err}"/>
										</ul>
	<!--								</span>-->
								</div>
							</span>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Producer:</label>
							</div>
							<div class="form-field-input">
								<select class="form-control" th:field="*{producer.id}">
<!--								<option value="1">Select producer</option>-->
									<option th:each="producer : ${producers}"
										th:value="${producer?.id}"
										th:text="${producer?.producerName}">
									</option>
								</select>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Country:</label>
							</div>
							<div class="form-field-input">
								<select class="form-control" th:field="*{country.id}">
<!--							    <option value="0">Select country</option>-->
								    <option th:each="country : ${countries}"
			                            th:value="${country?.id}"
			                            th:text="${country?.countryName}">
						    		</option>
							    </select>
							</div>
						</div>

						<div class="form-row">
							<div class="form-field-name">
								<label>Malt filling:</label>
							</div>
							<div class="form-field-input">
								<input type="number" class="form-control"
									th:field="*{maltFilling}" />
							</div>
						</div>
						<div class="form-row">
							<div class="form-field-name">
								<label>Malt usage:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"
									th:field="*{maltUsage}" />
							</div>
						</div>
						<div class="form-row">
							<div class="form-field-name">
								<label>Malt EBC:</label>
							</div>
							<div class="form-field-input">
								<input type="number" class="form-control"
									th:field="*{maltEbc}" />
							</div>
						</div>
						<div class="form-row">
							<div class="form-field-submit">
<!--								<button class="btn btn-default" type="submit">Submit</button>-->
								<button class="submit-button" type="submit">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footer" th:replace="fragments/main-sections :: footer"></div>
	</div>

</body>
</html>