<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>
		<div class="menu" th:replace="fragments/main-sections :: menu"></div>

		<div class="wrapper">
			<div class="main">
				<div class="page-title">
					<p th:text="${batch.batchNumber + ' - ' + batch.beerStyle.beerStyleName}">Malt name</p>
				</div>

				<div class="show">

					<div class="form-row">
						<div class="display-field-name">
							<label>Date:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${#temporals.format(batch.creationDate, 'dd-MM-yyyy')}">Creation date</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Cap designation:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.designation}">Cap designation</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Water for mashing:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.mashingWaterAmount} + ' liters'">Water for mashing</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Water for lautering:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.lauteringWaterAmount} + ' liters'">Water for lautering</p>
						</div>
					</div>

<!--				Malts-->
					<div class="display-field-name">
						<label>Malts:</label>
					</div>
					<table class="table">
						<thead class="thead">
							<tr>
								<th>Name</th>
								<th>Amount</th>
								<th>EBC</th>
							</tr>
						</thead>
						<tbody>
							<tr th:remove="all">
								<td>Strzegom</td>
								<td>4500</td>
								<td>3</td>
							</tr>
							<tr th:each="entry: ${malts}">
								<td th:text="${entry.getIngredient().getName()}" />
								<td th:text="${entry.getAmount()}" />
								<td th:text="${entry.getIngredient().getMaltEbc()}" />
							</tr>
						</tbody>
					</table>

<!--				Hops-->
					<div class="display-field-name">
						<label>Hops:</label>
					</div>
					<table class="table">
						<thead class="thead">
						<tr>
							<th>Name</th>
							<th>Alpha Acid</th>
							<th>Amount</th>
							<th>Time</th>
						</tr>
						</thead>
						<tbody>
						<tr th:remove="all">
							<td>Citra</td>
							<td>13.8</td>
							<td>40</td>
							<td>90 minutes</td>
						</tr>
						<tr th:each="entry: ${hops}">
							<td th:text="${entry.getIngredient().getName()}" />
							<td th:text="${(entry.getIngredient().getAlphaAcidMin() + entry.getIngredient().getAlphaAcidMax()) / 2}" />
							<td th:text="${entry.getAmount()}" />
							<td th:text="${entry.getWayOfServing()}" />
						</tr>
						</tbody>
					</table>

<!--				Additives-->
					<div class="display-field-name">
						<label>Additives:</label>
					</div>
					<table class="table">
						<thead class="thead">
						<tr>
							<th>Name</th>
							<th>Serving notes</th>
						</tr>
						</thead>
						<tbody>
						<tr th:remove="all">
							<td>Lactose</td>
							<td>Start of maturing</td>
						</tr>
						<tr th:each="entry: ${additives}">
							<td th:text="${entry.getIngredient().getName()}" />
							<td th:text="${entry.getWayOfServing()}" />
						</tr>
						</tbody>
					</table>

<!--				Yeasts-->
					<div class="display-field-name">
						<label>Yeasts:</label>
					</div>
					<table class="table">
						<thead class="thead">
						<tr>
							<th>Name</th>
							<th>Comments</th>
						</tr>
						</thead>
						<tbody>
						<tr th:remove="all">
							<td>SafAle US-05</td>
							<td>Re-hydrated</td>
						</tr>
						<tr th:each="entry: ${yeasts}">
							<td th:text="${entry.getIngredient().getName()}" />
							<td th:text="${entry.getWayOfServing()}" />
						</tr>
						</tbody>
					</table>

<!--				Mashing Temperatures-->
					<div class="display-field-name">
						<label>Mashing temperatures:</label>
					</div>
					<table class="table">
						<thead class="thead">
						<tr>
							<th>Name</th>
							<th>Temperature range</th>
							<th>Minutes</th>
						</tr>
						</thead>
						<tbody>
						<tr th:remove="all">
							<td>Saccharification rest</td>
							<td>1 - 2</td>
							<td>45 minutes</td>
						</tr>
						<tr th:each="batchMashTemperature: ${temperatures}">
							<td th:text="${batchMashTemperature.getMashTemperature().getRestName()}" />
							<td th:text="${batchMashTemperature.getMashTemperature().getTemp1()
								+ ' - ' + batchMashTemperature.getMashTemperature().getTemp2()}" />
							<td th:text="${batchMashTemperature.minutes}" />
						</tr>
						</tbody>
					</table>

					<div class="form-row">
						<div class="display-field-name">
							<label>Original plato:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.blg1}">Original plato</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Final plato:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.blg2}">Final plato</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Efficiency:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.efficiency}">Efficiency</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Maturing start date:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.maturationDate}">Maturing start date</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>IBU:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.calculatedIbu}">IBU</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Alcohol by volume:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.alcoholVolume}">Alcohol by volume</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Priming material:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.primingMaterial}">Priming material</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Amount of priming material:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.amountOfPrimingMaterial}">Amount of priming material</p>
						</div>
					</div>

					<div class="form-row">
						<div class="display-field-name">
							<label>Bottling date:</label>
						</div>
						<div class="form-field-input">
							<p th:text="${batch.bottlingDate}">Bottling date</p>
						</div>
					</div>
					<div class="bottom-nav-buttons">
						<ul>
							<li><a href="#" th:href="@{'/batch/list'}"><img th:src="@{/images/list.png}" title="list"></a></li>
							<li><a href="#" th:href="@{'/batch/' + ${batch.id} + '/edit'}"><img th:src="@{/images/update.png}" title="update"></a></li>
							<li><a href="#" th:href="@{'/batch/delete/' + ${batch.id}}"><img th:src="@{/images/delete.png}" title="delete"></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="footer" th:replace="fragments/main-sections :: footer"></div>
	</div>

</body>
</html>