<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
</style>

</head>
<body>
	<div class="container">
		<div class="header" th:replace="fragments/main-sections :: header"></div>
		<div class="menu" th:replace="fragments/main-sections :: menu"></div>

		<div class="wrapper">
			<div class="main">
				<div class="page-title">
					<p th:text="#{beerStyle.form.title}" />
				</div>
				<div class="form">
					<form th:object="${batch}" th:action="@{'/batch/saveBatch'}" method="post">
<!--					<form th:object="${batch}" th:action="@{'/batch/saveBatch'}" method="post">-->
<!--					<form th:action="@{'/batch/saveBatch'}" method="post">-->
						<input type="hidden" name ="id" th:field="*{id}">

						<div class="form-row">
							<div class="form-field-name">
								<label>Batch number:</label>
							</div>
							<div class="form-field-input">
								<input type="text" class="form-control"	th:field="*{batchNumber}"
									   th:errorclass="has-error" name="batchNumber"/>
								<div class="form-error" th:if="${#fields.hasErrors('batchNumber')}">
									<ul>
										<li th:each="err : ${#fields.errors('batchNumber')}" th:text="${err}"/>
									</ul>
								</div>
							</div>
						</div>

<!--						<div class="form-row">-->
<!--							<div class="form-field-name">-->
<!--								<label>Beer style:</label>-->
<!--							</div>-->
<!--							<div class="form-field-input">-->
<!--								<select class="form-control" th:field="*{batch.beerStyle.id}">-->
<!--									<option th:each="beerStyle : ${beerStyles}"-->
<!--											th:value="${beerStyle?.id}"-->
<!--											th:text="${beerStyle?.beerStyleName}">-->
<!--									</option>-->
<!--								</select>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="form-row">-->
<!--							<div class="form-field-name">-->
<!--								<label>Creation date:</label>-->
<!--							</div>-->
<!--							<div class="form-field-input">-->
<!--								<input type="date" class="form-control" th:field="*{creationDate}" th:errorclass="has-error"/>-->
<!--								<div class="form-error" th:if="${#fields.hasErrors('creationDate')}">-->
<!--									<ul>-->
<!--										<li th:each="err : ${#fields.errors('creationDate')}" th:text="${err}"/>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="form-row">-->
<!--							<div class="form-field-name">-->
<!--								<label>Cap designation:</label>-->
<!--							</div>-->
<!--							<div class="form-field-input">-->
<!--								<input type="text" class="form-control"	th:field="*{designation}" th:errorclass="has-error"/>-->
<!--								<div class="form-error" th:if="${#fields.hasErrors('designation')}">-->
<!--									<ul>-->
<!--										<li th:each="err : ${#fields.errors('designation')}" th:text="${err}"/>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="form-row">-->
<!--							<div class="form-field-name">-->
<!--								<label>Water for mashing:</label>-->
<!--							</div>-->
<!--							<div class="form-field-input">-->
<!--								<input type="number" class="form-control"	th:field="*{mashingWaterAmount}" th:errorclass="has-error"/>-->
<!--								<div class="form-error" th:if="${#fields.hasErrors('mashingWaterAmount')}">-->
<!--									<ul>-->
<!--										<li th:each="err : ${#fields.errors('mashingWaterAmount')}" th:text="${err}"/>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="form-row">-->
<!--							<div class="form-field-name">-->
<!--								<label>Water for lautering:</label>-->
<!--							</div>-->
<!--							<div class="form-field-input">-->
<!--								<input type="number" class="form-control"	th:field="*{lauteringWaterAmount}" th:errorclass="has-error"/>-->
<!--								<div class="form-error" th:if="${#fields.hasErrors('lauteringWaterAmount')}">-->
<!--									<ul>-->
<!--										<li th:each="err : ${#fields.errors('lauteringWaterAmount')}" th:text="${err}"/>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

						<table class="table">
							<thead class="thead">
							<tr>
								<th>Name</th>
								<th>Amount</th>
							</tr>
							</thead>
							<tbody>
							<tr th:remove="all">
								<td>Pale Ale</td>
								<td>4000</td>
							</tr>
<!--							<tr>-->
<!--								<td>-->
<!--									<select class="form-control" th:value="*{ingredients}">-->
<!--										<option th:each="ingredients : ${malts}"-->
<!--												th:value="${ingredients}"-->
<!--												th:text="${ingredients}">-->
<!--										</option>-->
<!--									</select>-->
<!--								</td>-->
<!--							</tr>-->
							<tr th:each="entry: ${malts}">
								<td th:text="${entry.getIngredient().getName()}" />
								<td th:text="${entry.getAmount()}" />
							</tr>
							</tbody>
						</table>

<!--						<div class="form-row">-->
<!--							<div class="form-field-name">-->
<!--								<label>Original and final plato:</label>-->
<!--							</div>-->
<!--							<div class="form-field-input-2-in-row">-->
<!--								<input type="number" step="any" class="form-control" th:field="*{blg1}" th:errorclass="has-error"/> - -->
<!--								<input type="number" step="any" class="form-control" th:field="*{blg2}" th:errorclass="has-error"/>-->
<!--								<div class="form-error" th:if="${#fields.hasErrors('blg1')}">-->
<!--									<ul>-->
<!--										<li th:each="err : ${#fields.errors('blg1')}" th:text="${err}"/>-->
<!--									</ul>-->
<!--								</div>-->
<!--								<div class="form-error" th:if="${#fields.hasErrors('blg2')}">-->
<!--									<ul>-->
<!--										<li th:each="err : ${#fields.errors('blg2')}" th:text="${err}"/>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="form-row">-->
<!--							<div class="form-field-name">-->
<!--								<label>Maturation date:</label>-->
<!--							</div>-->
<!--							<div class="form-field-input">-->
<!--								<input type="date" class="form-control" th:field="*{maturationDate}" th:errorclass="has-error"/>-->
<!--								<div class="form-error" th:if="${#fields.hasErrors('maturationDate')}">-->
<!--									<ul>-->
<!--										<li th:each="err : ${#fields.errors('maturationDate')}" th:text="${err}"/>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="form-row">-->
<!--							<div class="form-field-name">-->
<!--								<label>Bottling date:</label>-->
<!--							</div>-->
<!--							<div class="form-field-input">-->
<!--								<input type="date" class="form-control" th:field="*{bottlingDate}" th:errorclass="has-error"/>-->
<!--								<div class="form-error" th:if="${#fields.hasErrors('bottlingDate')}">-->
<!--									<ul>-->
<!--										<li th:each="err : ${#fields.errors('bottlingDate')}" th:text="${err}"/>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

						<div class="form-row">
							<div class="form-field-submit">
								<button class="submit-button" type="submit">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="footer" th:replace="fragments/main-sections :: footer"></div>
	</div>

</body>
</html>